    .footer {
        @include responsive(tab-port) {
            text-align: center;
            padding: 4rem;
        }
        @include responsive(phone) {
            padding: 3rem 0;
        }
        .col-1-of-2 {
            @include responsive(tab-port) {
                text-align: center;
            }
        }
        padding: 6rem 0;
        background-color: #333;
        &__logo-box {
            img {
                width: 100px;
                height: auto;
            }
        }
        &__navigation {
            border-top: solid 2px $text-color;
            padding-top: 2rem;
            display: inline-block;
        }
        &__list {
            list-style-type: none;
        }
        &__item {
            display: inline-block;
            &:not(:last-of-type) {
                margin-right: 10px;
            }
        }
        &__link {
            color: $secondary-color;
            font-size: 1.3rem;
            font-family: inherit;
            text-decoration: none;
            text-transform: uppercase;
            ;
        }
        &__copyright {
            @include responsive(tab-port) {
                text-align: center;
                float: none;
                width: 100%;
            }
            @include responsive(phone) {
                display: none;
            }
            border-top: solid 2px $text-color;
            padding-top: 2rem;
            width: 80%;
            float: right;
            font-size: 1.1rem;
            color: $secondary-color;
            letter-spacing: 1px;
        }
    }