//THE COLOR VARIEBLES
$main-color:rgba(4, 85, 105, 0.8);
$main-color-full:rgba(4, 85, 105, 1);
$main-color-light:rgba(15, 90, 109, 0.8);
$accent-color:#c4750eff;
$accent-color-full:rgb(202, 118, 8);
$green:rgb(11, 187, 11);
$light-green:rgb(45, 211, 45);
$secondary-color:#f4f4f4;
$text-color:#555;
$default-font-size:1.6rem;

/*
first of all i love what i do, it gives me the capacity to think creatively and logical, i am a web design
and web developer, as a web design i design a website from scratch create a user interface and the user
experiance, then do a prototype of the project, then when i am done with design i than develop it, i love what
do man more than anything
*/